.section {
    background: black;
    border-radius: 10px;
    padding: 20px;
    text-transform: capitalize;
}

.section form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.section form input {
    padding: 5px;
}

.section form textarea {
    min-height: 200px;
}
