.nav {
    width: min(80%, 1300px);
    margin: 0 auto;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.nav li:not(.desktop-logo) a:hover {
    background: rgba($color: rgb(223, 18, 219), $alpha: .7);
    border-radius: 5px;
}

.desktop-logo {
    margin-right: auto;
}

.desktop-logo a {
    width: 100%;
    margin-right: auto;
}




.image {
    position: relative;
    width: 80px;
    height: 80px;
}

.image img {
    object-fit: cover;
}




.mobile {
    display: none;
}

.close {
    display: none;
}


@media (max-width: 700px) {
    .mobile {
        margin: 0 auto;
        width: min(90%, 700px);
        display: flex;
        justify-content: space-between;
    }

    .close {
        display: block;
    }

    .menu, .close button {
        background: none;
        border: none;
        padding: 20px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(200px, 100%);
        background: black;
        margin: 0;
        z-index: 2;
        transition: right 0.5s ease-in-out;
    }

    .show {
        right: 0;
    }

    .backdrop {
        inset: 0;
        z-index: 1;
        position: fixed;
        background: rgba(223, 18, 219, .7);
        height: 100vh;
        display: none;
        animation: showing 0.5s ease-in-out;
    }

    .show ~ .backdrop {
        display: block;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .desktop-logo {
        margin-right: unset;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        width: 100%;
        display: inline-block;
    }

    @keyframes showing {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
