.footer {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.footer button {
    background: rgb(223, 18, 219);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

.footer button:first-child {
    background: none;
}

.image {
    background: white;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    color: black;
}